.btn {
  display: inline-block;
  padding: 15px 30px;
  background-color: $color-home-p;

  border: 1px solid transparent;
  border-radius: 100rem;
  outline: none;

  font-size: 14px;
  line-height: 30px;
  color: $color-white;

  cursor: pointer;
  &__outline {
    border-color: $color-home-p;
    color: $color-900;
    background-color: transparent;
  }
  &.block {
    display: block;
    width: 100%;
  }
}
